// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

/**
 * The CSS shown here will not be introduced in the Quickstart guide, but shows
 * how you can use CSS to style your Element's container.
 */
 .StripeElement {
    box-sizing: border-box;
  
    height: 40px;
  
    padding: 10px 12px;
  
    border: 1px solid transparent;
    border-radius: 4px;
    background-color: white;
  
    box-shadow: 0 1px 3px 0 #e6ebf1;
    -webkit-transition: box-shadow 150ms ease;
    transition: box-shadow 150ms ease;
  }

  // .button-primary {
  //   background: $primary;
  //   color:white !important;
  //   padding: 12px 0px;

  //   &:hover{
  //     background: darken($primary, 7%);
  //   }

  //   &:disabled{
  //     background: lighten($primary, 10%);
  //     cursor: not-allowed;
  //   }
  // }
  
  .StripeElement--focus {
    box-shadow: 0 1px 3px 0 #cfd7df;
  }
  
  .StripeElement--invalid {
    border-color: #fa755a;
  }
  
  .StripeElement--webkit-autofill {
    background-color: #fefde5 !important;
  }

  .products-header{
    display:flex;
    justify-content: space-between;
  }

  .sidebar.li.active{
    font-weight: 500;
  }
  .pagination {
    display: flex;
    justify-content: center;
    margin-top: 4%;
  }
  
  .pagination a {
    color: black;
    float: left;
    padding: 2px 16px;
    text-decoration: none;
  }

  .rightstatment{
    float: right;
    padding-right: 10px;
  }

  .leftstatment{
    padding-left: 10px;
  }

  .statementsection{
    padding-left:15px;
  }

  #balanceSheet{
    margin-bottom: 10px;
    padding:30px;
  }

  .main-section{
    margin: 0 auto;
    padding: 20px;
    margin-top: 100px;
    background-color: #fff;
    box-shadow: 0px 0px 20px #C1C1C1;
  }

  .brand_logo{
    height: 50px;
    width: auto;
  }
  
  .header-banner{    
    background: linear-gradient(0deg, rgba(64,64,64, 0.6), rgba(64,64,64, 0.6)),url("/images/view-of-vintage-camera-325153.jpg");
    text-align: center!important;
    padding: 15rem 2rem;
    background-size: cover;
    background-position: initial;
    min-height:100%;
  }

  .index-title,
  .index-subtitle {
    color: white;
  }
  
  
  .mb-4,
  .box-shadow{
    padding:13rem 0.5rem 1rem 0.5rem; 
  }


  #phones{
    padding:15rem 0.5rem 1rem 0.5rem; 
    background: linear-gradient(0deg, rgba(64,64,64, 0.7), rgba(64,64,64, 0.7)),url("/images/index_phone.jpeg");
    background-size: cover;
    background-position: initial;
  }

  #tvaudio{
    padding:15rem 0.5rem 1rem 0.5rem; 
    background: linear-gradient(0deg, rgba(64,64,64, 0.7), rgba(64,64,64, 0.7)),url("/images/Samsung-QLED.png");
    background-size: cover;
    background-position: center;
  }

  #computer{
    padding:15rem 0.5rem 1rem 0.5rem; 
    background: linear-gradient(0deg, rgba(64,64,64, 0.7), rgba(64,64,64, 0.7)),url("/images/idnex_Laptop.jpg");
    background-size: cover;
    background-position: center;
  }


  .index,
  .card-text{
    color:white;
  }

  html,body{
    height: 100%;
}

footer{
  background-color: green;
}